<h3> Check out these great recipes! </h3>

<% Recipe.all.each do |recipe| %>
    <%= image_tag recipe.image.thumb.url %>
    <strong><%= recipe.name %></strong>
    <p><%= recipe.description %></p>
    <small>uploaded by: <%= recipe.user.name %></small>
<% end %>