/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*---- main container styling ----*/

 .container {
     background-color: white;
     height: 100%;
     display: grid;
     grid-gap: 3px;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: 300px 75px auto 50px;
     
 }

 .header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 5px 50px;
 }

 .menu {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 5px 50px;
    background-color: lightgrey;
    padding-top: 15px;
 }

 .content {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
 }

 .footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
 }

/*---- item styles ---*/

h1.header {
    font: normal small-caps normal 3em/150% Arial, Helvetica, sans-serif; 
    position: absolute;
    text-shadow: 0px 0px 30px white, 5px 5px 50px white;
}

h1.img {
    z-index: -1;
    position: relative;
    align-content: center;
}

small.footer {
    border: 1px solid rgb(61, 61, 61);
    padding: 15px 50px;
}

.menu, .menu ul, #showComments, .comments {
    font: normal small-caps normal 1em Arial, Helvetica, sans-serif;
    list-style: none;
}

.menu {
    float: left;
}

.menu > li {
    float: left;
}

.menu ul {
    position: absolute;
    display: none;
    z-index: 999;
}

.menu ul li a {
    width: 80px;
}

.menu li:hover ul {
    display: block;
}

.dropdown{
    padding: 20px;
    background:lightgray;
    display:none;
}

.dropdown a{
    display:block;
    margin-bottom:30px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    padding: 0px 20px 0px 0px;
    color: black;
}

a:hover, a:active, #showComments:hover {
    text-shadow: 5px 5px 30px black;
    color: white;
}

.liked button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}